pin-depends: [
  ["alcotest.1.9.1" "git+https://github.com/mefyl/alcotest#f0007cbfdffd868945dd7503160c8bce08d01113"]
  ["bytesrw.0.3.0" "git+https://github.com/dbuenzli/bytesrw#47bdebcbc527c264572fb5fbcc5ca606e67bcd32"]
]
